_/
bin/
obj/
\#*\#
.*
!.git*
*~
*.swp
*.swo
*.bak
*.pyc
*.pyo
*.o
*.so
*.out
*.su
*.gch
*.zip
__pycache__/
/src/blueshift_randr.c
/src/blueshift_vidmode.c
/src/blueshift_drm.c
/src/blueshift_w32gdi.c
/src/blueshift_quartz.c
*.info
*.pdf
*.dvi
*.ps
*.tar
*.gz
*.bz2
*.xz

